/* Footer */
.footer {
    text-align:center;
    text-decoration: none;
    color: black;
    background-image: url('/Images/footerbg.jpg');
    background-size: cover;
    font-weight: 900;
    padding: 10px;
}
.footer a {
    text-decoration: none;
    color: black;
    font-weight:bolder;
    font-size: 25px;
}
/* Pagination */
.pagination {
    text-align: center;
    padding-top: 4px;
}
.pagination a{
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(255, 140, 159);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: black;
}
/* Navigation bar */
.navbar a {
        text-decoration: none;
        color: black;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(255, 90, 117);
    padding: 10px;
}
/* Heading */
.header {
    text-align: center;
    background-image: url('/Images/5.jpg');
    background-size: contain;
    padding: 10px;
}
/* Body */
.main {
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: black;
    background-image: url('/Images/8.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main a{
    text-decoration: none;
    color: thistle;
}
.lyrics {
    background-image: url('/Images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.lyrics2 {
    background-image: url('/Images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.lyrics3 {
    background-image: url('/Images/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
pre {
    color: white;
    font-size: 25px;
}
